# TECH AUCTION 2026 — Frontend Web Client Environment Template

VITE_API_URL=http://localhost:4000
VITE_SOCKET_URL=http://localhost:4000
VITE_SUPABASE_URL=https://bfkbdximihocboifkomn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJma2JkeGltaWhvY2JvaWZrb21uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMjIzMDYsImV4cCI6MjEwNTc5ODMwNn0.R4WoOs3g9s50CMsvRe3qEVao9oqanHPb0-KqB7Bwna8

